<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <title>Ошибка</title>
		<link rel="shortcut icon" href="./images/demo/logo.png" type="image/png">
		<link rel="stylesheet" href="css/layout.css"/>
		<link rel="stylesheet" href="css/style-error.css"/>
	</head>
	<body>
	    <div class="error" align="center">
		<h1>Ошибка</h1>
		<h2>{{error}}</h2><br>
		<a class="btn" href="./">На главную</a>
		</div>
	</body>
</html>
