<!DOCTYPE html>
<head>
<title>Третьяковская галерея</title>
<meta charset="utf-8">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<link rel="shortcut icon" href="./images/demo/logo.png" type="image/png">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="./css/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<h1 id="hid" hidden>{{user.role}}</h1>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('./images/demo/backgrounds/01.jpg');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="#">Третьяковская Галерея</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="#">Главная</a></li>
          <li><a class="drop" href="#">Галерея</a>
            <ul>
              <li><a href="./departs">Адреса</a></li>
              <li><a href="./employees">Работники</a></li>
			  <li><a href="./tickets">Билеты</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Образование</a>
            <ul>
              <li><a href="./programms">Программы</a></li>
              <li><a class="drop" href="#">Картины</a>
                <ul>
                  <li><a href="./excursions">Экскурсии</a></li>
                  <li><a href="./exhibitions">Выставки</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="./dashboard">Личный кабинет</a></li>
		  <li><a  id="exch" href="./signin">Вход</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper">
    <article id="pageintro" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="transbox">
        <h3 class="heading">Окунись в историю</h3>
        <p>Множество произведений искусства, авторы разных столетий - все это у нас на сайте! Заходите и узнавайте много нового. Для вас у нас приготовлена парочка выставок!</p>
      </div>
      <footer><a class="btn" href="./exhibitions">Перейти к выставкам</a></footer>
      <!-- ################################################################################################ -->
    </article>
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <article class="group">
      <div class="one_quarter first">
        <p class="font-xs">Билеты на экскурсии</p>
        <h6 class="heading">Не забудь посетить музей, чтобы увидеть все своими глазами!</h6>
      </div>
      <div class="three_quarter">
        <p>Историческое здание, в котором располагалась коллекция основателя Галереи Павла Михайловича Третьякова (с 1856 года).  Здесь можно увидеть более 1300 произведений русского искусства XI — начала ХХ века — от домонгольских икон и мозаик до пейзажной, портретной и исторической живописи, в том числе такие шедевры мирового значения, как «Троица» Андрея Рублёва и «Явление Христа народу» Александра Иванова.</p>
        <p class="btmspace-30">Билеты и экскурсионные путевки, приобретенные не в Третьяковской галерее, не действительны.</p>
        <footer><a class="btn" href="./tickets">Узнать больше &raquo;</a></footer>
      </div>
    </article>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('./images/demo/backgrounds/02.jpg');">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Программы</h6>
      <p>Образовательные программы для взрослых и детей</p>
    </div>
    <ul class="nospace group elements">
      <li class="one_third first">
        <article><a href="./programms"><i class="fa fa-chain-broken"></i></a>
          <h6 class="heading">Художественная практика</h6>
          <p>Хотели научиться рисовать? Не вопрос! Наши опытные мастера придут вам на помощь...</p>
          <footer><a href="./programms">Подробнее &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="./programms"><i class="fa fa-ambulance"></i></a>
          <h6 class="heading">Лекторий</h6>
          <p>Лекции от экскурсоводов и преподавателей вузов по различным тематикам...</p>
          <footer><a href="./programms">Подробнее &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="./excursions"><i class="fa fa-area-chart"></i></a>
          <h6 class="heading">Экскурсии</h6>
          <p>Опытные экскурсоводы не заставят вас скучать и проведут по самым интересным местам...</p>
          <footer><a href="./excursions">Подробнее &raquo;</a></footer>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay light" style="background-image:url('./images/demo/backgrounds/03.jpg');">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <ul class="nospace group">
      <li class="one_quarter first">
        <h3 class="heading">Работники</h3>
        <p>Мы не скрываем данную информацию от наших пользователей и они всегда могут посмотреть нужные персоналии...</p>
        <footer><a class="btn" href="./employees">Узнать больше</a></footer>
      </li>
      <li class="one_quarter">
        <figure><a href="./employees"><img class="btmspace-30" src="./images/demo/222x100_2.png" alt=""></a>
          <figcaption>
            <h6 class="heading font-x1">Отдел продаж</h6>
            <footer><a href="./employees">Подробнее</a></footer>
          </figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a href="./employees"><img class="btmspace-30" src="./images/demo/222x100_3.png" alt=""></a>
          <figcaption>
            <h6 class="heading font-x1">Отдел персонала</h6>
            <footer><a href="./employees">Подробнее</a></footer>
          </figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a href="./employees"><img class="btmspace-30" src="./images/demo/222x100.png" alt=""></a>
          <figcaption>
            <h6 class="heading font-x1">Отдел контроля</h6>
            <footer><a href="./employees">Подробнее</a></footer>
          </figcaption>
        </figure>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay coloured" style="background-image:url('./images/demo/backgrounds/04.jpg');">
  <div class="hoc container testimonials clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Создатели</h6>
      <p>Над разработкой данного сайта работали</p>
    </div>
    <article class="one_half first"><img src="./images/demo/100x100_2.png" alt="">
      <blockquote>roman.ershov.1998@mail.ru</blockquote>
      <h6 class="heading">Ершов Р.A.</h6>
      <em>Front end разработчик</em></article>
    <article class="one_half"><img src="./images/demo/100x100.png" alt="">
      <blockquote>ilyabut99@gmail.com</blockquote>
      <h6 class="heading">Бутышкис И.A.</h6>
      <em>Back end разработчик</em></article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    
    <div class="one_half first">
	  <h6 class="heading">Соцсети</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li>https://twitter.com/tretyakovgal</li>
        <li>https://vk.com/tretyakovgallery</li>
      </ul>
    </div>
    <div class="one_half">
      <h6 class="heading">Контакты</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li>+7 (495) 957-07-27</li>
        <li>tretyakov@tretyakov.ru</li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved</p>
<!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="./js/jquery.min.js"></script>
<script src="./js/jquery.backtotop.js"></script>
<script src="./js/jquery.mobilemenu.js"></script>
<script src="./js/main.js"></script>
</body>
</html>